
#titulofinal {
    position: absolute;
    top: 2800px;
    left: 590px;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
}
 
#textofinal {
    position: absolute;
    top: 3400px;
    left: 520px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
#imagenfinal {
    position: absolute;
    top: 2900px;
    left: 240px;
}
 
#botonclickaqui{
    position: absolute;
    top: 400px;
    left: 10px;
 
}
#tituloclickaqui{
    position: absolute;
    top: 340px;
    left: 10px;
}
#carouselExample{
    width: 1000px;
    height: 500px;
 
    position: absolute;
    top: 1800px;
    left: 300px;
}
#redes-sociales {
    position: absolute;
    top: 3800px;
    left: 350px;
}
#face {
    position: absolute;
    top: 3620px;
    left: 250px;
}
#twit {
    position: absolute;
    top: 3650px;
    left: 250px;
    }
#ig  {
    position: absolute;
    top: 3680px;
    left: 250px;
    }
#politica-privacidad {
        position: absolute;
        top: 3750px;
        left: 250px;
        }
#politica  {
        position: absolute;
        top: 3710px;
        left: 250px;
        }
#join-us  {
        position: absolute;
        top: 3560px;
        left: 200px;
            }
 
 
#map{
    position: absolute;
    top: 3550px;
    right: 200px;
 
}
 
#carrusel1{
    width: 4000px;
    height: 500px;
}
 
#carrusel2{
    width: 4000px;
    height: 500px;
}
#carrusel3{
    width: 4000px;
    height: 500px;
}


#form-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    margin: 20px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input:focus {
    border-color: #ff4444;
  }
  
  button {
    background-color: #ff4444;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ff0000;
  }
  
  small {
    color: #666;
    font-size: 12px;
  }
  
  .hidden {
    display: none;
  }
  /* Estilos para centrar y mejorar la interacción con las estrellas */
#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  
  #rating .star {
    font-size: 3em; 
    cursor: pointer;
    color: gray; 
    transition: color 0.3s ease; /* Transición suave */
  }
  
  #rating .star:hover,
  #rating .star.hovered {
    color: gold; /* Cambia a dorado al pasar el ratón */
  }
  
  #rating .star.selected {
    color: gold; /* Color dorado para las estrellas seleccionadas */
  }
  