<footer>
    <h2 id="titulofinal"><strong>FIND MORE<br>ABOUT OUR CLUB</strong></h2>
    <p id="textofinal">Discover all the passion of Liverpool FC here.<br>¡You'll never walk alone! #YNWA</p>
    <img
      id="imagenfinal"
      src="assets/images/liverpool-club.jpg"
      alt="Logo del Liverpool FC"
      width="900"
      height="500"
    />
    <ul id="redes-sociales">
      <li><a href="https://facebook.com/liverpoolfc">Facebook</a></li>
      <li><a href="https://twitter.com/liverpoolfc">Twitter</a></li>
      <li><a href="https://instagram.com/liverpoolfc">Instagram</a></li>
    </ul>
    <ul>
      <li><a href="https://faq.liverpoolfc.com/">Read more</a></li>
    </ul>
    <h2 id="join-us"><strong>JOIN OUR NETWORKS</strong></h2>
    <div id="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9508.527394807603!2d-2.961467787010577!3d53.43035077148908!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487b21654b02538b%3A0x84576a57e21973ff!2sAnfield%2C%20Liverpool!5e0!3m2!1ses!2sco!4v1715651055989!5m2!1ses!2sco"
        width="500"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </footer>
  