.form-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  color: #e60000; /* Rojo de Liverpool */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 5px 0;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #e60000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:disabled {
  background-color: #cccccc;
}
